.button-container {
	display:flex;
	justify-content:center;
	gap:0.5rem;
}

.button-container > div {
	flex-basis:44%;
}

.add-withdraw-button {	
	padding:1.75rem 1rem;
    cursor: pointer;
	border:1px solid rgb(228, 226, 225);
    border-radius: 1rem;
    font-size: 1rem;
	box-shadow:rgba(0, 0, 0, 0.06) 0px 2px 6px 0px, rgba(0, 0, 0, 0.06) 0px 2px 6px 0px;
	background-color:white;
	width:100%;
		
	
}

.add-withdraw-button:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px 0px, rgba(0, 0, 0, 0.1) 0px 3px 8px 0px;
}
.background-overlay {
	
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1000;
    background-color: rgba(0, 0, 0, 0.5);
	
}

.modal-dialog {
	display:flex;
	flex-direction:column;
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	z-index: 1001;
	background-color: #fcfcfc;
	border-radius:1rem;
	width:90%;
	max-width:550px;
	min-height:50vh;
	max-height:70vh;
	padding:2rem;
	font-family:avenir;
		
}

.modal-form {
	display:flex;
	flex-direction:column;
	flex:1;
    justify-content: space-evenly; 
	margin-top:2rem;
	

}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  padding:1rem;
  border-radius:50%;
}

.close-button:hover {
  background-color: #e0e0e0; 
}

.modal-amount {
	display:flex;
	justify-content:center;
}

.modal-submit {
	display:flex;
	justify-content:center;
}

.aw-submit {
	background:rgb(50, 48, 47);
	border-radius:4rem;
	padding:1rem;
	color:white;
	width:50%;
}
