.transfer {
	display:flex;
	justify-content:end;
	margin-left:auto;
	width:27%;
	height:5%;
	margin-right:5rem;
}

.transfer-form {
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	gap:5%;
	padding:1rem;
	width:100%;
}

.transfer-form > div {
	height:100%;
	width:100%;
}

.padding-wrapper {
	padding:1rem;
}

