.nav {
	display:flex;
	gap:1rem;
	align-items:center;
	
}

.navbar {
	display:flex;
	justify-content:end;
	align-items:center;
	gap:2rem;
	padding-top:1.25rem;
	flex:1;
	margin-right:3rem;
}

.navbar a {	
	text-decoration:none;
	font-family:helvetica neue;
	color:#32302f;
}

.logo {
	display:flex;
	height:auto;
	width:12.5rem;
	
}


.line {
    border: none;  
    background-color: #E4E2E1;
    height: 0.2rem;  
}

.navbar button {
	padding:1rem 3rem;
	border-radius:1.5rem;
}

.navbar button:hover {
    background-color: #E4E2E1;
}