.activity {
	display:flex;
	margin-top:1.25rem;
	padding:1.25rem;
}

.activity a {	
	text-decoration:none;
	font-family:avenir;
	color:#32302f;
}

.activity:hover {
  background-color: #f2f2f2;
  border-radius: 0.5rem;
}

.searchbar {
	border-radius:0.75rem;
	padding:0.5rem 0.5rem 0.5rem 0.75rem;
	border:1px solid rgb(228, 226, 225);

}

