.activity {
	display:flex;
	align-items:center;
	gap:1rem;
	padding-top:1.25rem;
	padding-left:4rem;
}

.activity a {	
	text-decoration:none;
	font-family:helvetica neue;
	color:#32302f;
}

.searchbar {
	border-radius:0.75rem;
	padding:0.5rem 0.5rem 0.5rem 0.75rem;
	outline:none;
	border:1px solid rgb(228, 226, 225);

}