.activity {
	display:flex;
	margin-top:1.25rem;
	padding:1.25rem;
	text-decoration:none;
	font-family:avenir;
	color:#32302f;
	font-weight:500;
}	

.activity:hover {
  background-color: #f2f2f2;
  border-radius: 0.5rem;
}



.main-logo {
  display: inline-block;
  border-radius: 50%;
  width: auto;
  height: auto;
}

.main-logo img {
  display: block;
  width: auto;
  height: auto;
}

.navbar-two {
	display:flex;
	justify-content:end;
	align-items:center;
	gap:1rem;
	padding-top:1.25rem;
	flex:1;
	margin-right:3rem;
}

.nav-search-div:hover {
	border:1px solid black;

}