.nav-search-div {
	width:27.2%;
	border:1px solid;
	border-radius:0.5rem;
	background-color:#fcfcfc;
	border:1.125px solid rgb(228, 226, 225);
	position:relative;

}

.nav-search-div:hover {
	border:1.125px solid black;

}

.nav-search-div-three {
	width:22.6%;
	border:1px solid;
	border-radius:0.5rem;
	background-color:#fcfcfc;
	border:1.125px solid rgb(228, 226, 225);
	position:relative;
	
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.search-svg-div {
	display:flex;
	padding:0.75rem;
}

.searchbar {
	
	width:100%;
	height:100%;
	border:none;
	outline:none;
	border-radius:0.5rem;
}

.search-results-container {
	display:flex;
	flex-direction:column;
	position:absolute;
	z-index:100;
	background-color:white;
	border-radius:0.5rem;
	box-shadow:rgba(0,0,0,0.06)0px 0px 2px 1px;
	border:1px solid #ECEDEE;
	max-height:500px;
	overflow:hidden auto;
}

.search-parent {	
	width:100%;
	
}

.nav-search-div-two {
	display:flex;
}

.search-results {
    list-style-type: none;
	
}

.search-result-item {
	padding:1rem;
	font-family:BlinkMacSystemFont;
	font-weight:light;
	color:rgb(64,68,82);
	font-weight:400;
	
	
}
.search-result-item:hover {
	background-color:#F5F5F5;
    cursor: pointer;
	
}

.results-text {
	font-family:BlinkMacSystemFont;
	font-weight:500;
	padding:0.5rem;
	transition:0.5s ease;	
	
}

.search-text {
    text-decoration: none;
}

