<h2 class='stock-name'>Results for "<%= params[:search]%>"</h2>
<ul>
	<% @results.each do |n| %>
	<li><a class='stock-name' href='/stocks/<%=n[:symbol]%>'>
		<%= n[:symbol] %>
		-
		<%= n[:name]%>
	</a></li>
	<% end %>
</ul>
