<div class ='index-main'>
	
	<div class='index-trade'>
		<h1 class='index-heading'> The best place to trade </h2>
	</div>

	<div class='index-start'>
		<a href="/signup" class="index-a">Get Started</a>
	</div>
	
</div>