<div class='login-signup-main'>
	<div class='login-left'>
	  <div class='main-logo'>
		  <a href = '/' class = 'logo'>
		 	  <%= image_tag "steak-and-eggs.svg", alt: "logo", class: "navbar-logo" %>
		  </a>
	  </div>
	</div>
	
	<div class=login-signup-right>
		
<div class = 'signup-box'>	
	<div class='signup-form-container'>
		
	<h2 class='signup-heading'> Welcome Back </h2>
	
	<form class = 'signup-form' method='post' action='/login'>
	    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type = 'email' name='email' placeholder='Email' class='email-pass'>
		<input type = 'password' name= 'password' placeholder='Password' class='email-pass'>
		<input type = 'submit' value='Log In' class='signup-submit'>
	</form>
	
	<p class='signup-pa'>Don't have an account? <a href='/signup'> Sign Up </a> </p> 
	
</div>
</div>
</div>
