<div class ='index-main'>
	
	<div class='index-trade'>
		<h1 class='index-heading'> We've hit a hiccup </h2>
		<h3 class='index-heading'> We can’t find the page you’re looking for. The page might have moved. 
			Try going back to your home page. </h3>
	</div>

	<div class='index-start'>
		<a href="/home" class="index-a">Home</a>
	</div>
	
</div>