<div class='login-signup-main'>
	<div class='signup-left'>
	  <div class='main-logo'>
		  <a href = '/' class = 'logo'>
		 	  <%= image_tag "steak-and-eggs.svg", alt: "logo", class: "navbar-logo" %>
		  </a>
	  </div>
	  <p></p>
	</div>
	
	<div class=login-signup-right>
		
<div class = 'signup-box'>
	<%= react_component("Signup") %>	  
</div>
</div>
