default: &default
  adapter: postgresql
  encoding: unicode
  pool: 32 #match EB's max threads per worker

development:
  <<: *default
  database: steak_and_eggs_development

test:
  <<: *default
  database: steak_and_eggs_test

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
    
cache:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
  database_tasks: false